* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  flex: auto;
  background-color: #4F359B;
}

.main-header {
  color: white;
  justify-content: center;
}

#searchCard {
  background-color: #585191;
}

#dataCard {
  background-color: #B5BA72;
}

.newCityBtn {
  display: flex;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
}

#category {
  background-color: #99907D
}

h2 {
  color: white;
}

/* #category {
  max-width: 100%;
} */